---

jdbc:
  username: "oidc_sync"
  password: "oidc_sync123*"
  url: "jdbc:mariadb://localhost:3306/test_oidc"
  driver_class_name: "org.mariadb.jdbc.Driver"

rpc:
  perunUrl: "https://perun-dev.cesnet.cz/ba/rpc"
  perunUser: "user"
  perunPassword: "pass"

attributes:
  client_id: "urn:perun:facility:attribute-def:def:OIDCClientID"
  client_secret: "urn:perun:facility:attribute-def:def:OIDCClientSecret"
  name: "urn:perun:facility:attribute-def:def:serviceName"
  description: "urn:perun:facility:attribute-def:def:serviceDescription"
  redirect_uris: "urn:perun:facility:attribute-def:def:OIDCRedirectURIs"
  privacy_policy: "urn:perun:facility:attribute-def:def:privacyPolicyURL"
  contacts: "urn:perun:facility:attribute-def:def:administratorContact"
  scopes: "urn:perun:facility:attribute-def:def:requiredScopes"
  grant_types: "urn:perun:facility:attribute-def:def:OIDCGrantTypes"
  response_types: "urn:perun:facility:attribute-def:def:OIDCResponseTypes"
  introspection: "urn:perun:facility:attribute-def:def:OIDCAllowIntrospection"
  post_logout_redirect_uris: "urn:perun:facility:attribute-def:def:OIDCPostLogoutRedirectURIs"
  issue_refresh_tokens: "urn:perun:facility:attribute-def:def:OIDCIssueRefreshTokens"

encryption:
  secret: "secret_goes_here"

proxy_identifier: "urn:perun:facility:attribute-def:def:proxyIdentifiers"
proxy_identifier_value: "https://login.elixir-czech.org/idp/"
